<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.AddrXyMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.AddrXy">
    <!--@mbg.generated-->
    <!--@Table ADDR_XY-->
    <result column="c_addr_id" jdbcType="INTEGER" property="cAddrId" />
    <result column="x_coord" jdbcType="FLOAT" property="xCoord" />
    <result column="y_coord" jdbcType="FLOAT" property="yCoord" />
    <result column="c_source_reference" jdbcType="CHAR" property="cSourceReference" />
    <result column="c_source_id" jdbcType="INTEGER" property="cSourceId" />
    <result column="c_notes" jdbcType="CHAR" property="cNotes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    c_addr_id, x_coord, y_coord, c_source_reference, c_source_id, c_notes
  </sql>
</mapper>