<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.BiogTextDataMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.BiogTextData">
    <!--@mbg.generated-->
    <!--@Table BIOG_TEXT_DATA-->
    <result column="tts_sysno" jdbcType="INTEGER" property="ttsSysno" />
    <result column="c_textid" jdbcType="INTEGER" property="cTextid" />
    <result column="c_personid" jdbcType="INTEGER" property="cPersonid" />
    <result column="c_role_id" jdbcType="INTEGER" property="cRoleId" />
    <result column="c_year" jdbcType="INTEGER" property="cYear" />
    <result column="c_nh_code" jdbcType="INTEGER" property="cNhCode" />
    <result column="c_nh_year" jdbcType="INTEGER" property="cNhYear" />
    <result column="c_range_code" jdbcType="INTEGER" property="cRangeCode" />
    <result column="c_source" jdbcType="INTEGER" property="cSource" />
    <result column="c_pages" jdbcType="CHAR" property="cPages" />
    <result column="c_secondary_source_author" jdbcType="CHAR" property="cSecondarySourceAuthor" />
    <result column="c_notes" jdbcType="CHAR" property="cNotes" />
    <result column="c_created_by" jdbcType="CHAR" property="cCreatedBy" />
    <result column="c_created_date" jdbcType="CHAR" property="cCreatedDate" />
    <result column="c_modified_by" jdbcType="CHAR" property="cModifiedBy" />
    <result column="c_modified_date" jdbcType="CHAR" property="cModifiedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tts_sysno, c_textid, c_personid, c_role_id, c_year, c_nh_code, c_nh_year, c_range_code, 
    c_source, c_pages, c_secondary_source_author, c_notes, c_created_by, c_created_date, 
    c_modified_by, c_modified_date
  </sql>
</mapper>