<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.BiogInstCodesMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.BiogInstCodes">
    <!--@mbg.generated-->
    <!--@Table BIOG_INST_CODES-->
    <result column="c_bi_role_code" jdbcType="INTEGER" property="cBiRoleCode" />
    <result column="c_bi_role_desc" jdbcType="CHAR" property="cBiRoleDesc" />
    <result column="c_bi_role_chn" jdbcType="CHAR" property="cBiRoleChn" />
    <result column="c_notes" jdbcType="CHAR" property="cNotes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    c_bi_role_code, c_bi_role_desc, c_bi_role_chn, c_notes
  </sql>
</mapper>