<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.ChoronymCodesMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.ChoronymCodes">
    <!--@mbg.generated-->
    <!--@Table CHORONYM_CODES-->
    <result column="c_choronym_code" jdbcType="INTEGER" property="cChoronymCode" />
    <result column="c_choronym_desc" jdbcType="CHAR" property="cChoronymDesc" />
    <result column="c_choronym_chn" jdbcType="CHAR" property="cChoronymChn" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    c_choronym_code, c_choronym_desc, c_choronym_chn
  </sql>
</mapper>