<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.CopyMissingTablesMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.CopyMissingTables">
    <!--@mbg.generated-->
    <!--@Table CopyMissingTables-->
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="TableName" jdbcType="CHAR" property="tablename" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, TableName
  </sql>
</mapper>