<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.EntryCodeTypeRelMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.EntryCodeTypeRel">
    <!--@mbg.generated-->
    <!--@Table ENTRY_CODE_TYPE_REL-->
    <result column="c_entry_code" jdbcType="INTEGER" property="cEntryCode" />
    <result column="c_entry_type" jdbcType="CHAR" property="cEntryType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    c_entry_code, c_entry_type
  </sql>
</mapper>