<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.h2d.mapper.TextCodesMapper">
  <resultMap id="BaseResultMap" type="com.smallclover.h2d.entity.TextCodes">
    <!--@mbg.generated-->
    <!--@Table TEXT_CODES-->
    <result column="tts_sysno" jdbcType="INTEGER" property="ttsSysno" />
    <result column="c_textid" jdbcType="INTEGER" property="cTextid" />
    <result column="c_title_chn" jdbcType="CHAR" property="cTitleChn" />
    <result column="c_suffix_version" jdbcType="CHAR" property="cSuffixVersion" />
    <result column="c_title" jdbcType="CHAR" property="cTitle" />
    <result column="c_title_trans" jdbcType="CHAR" property="cTitleTrans" />
    <result column="c_text_type_id" jdbcType="CHAR" property="cTextTypeId" />
    <result column="c_text_year" jdbcType="INTEGER" property="cTextYear" />
    <result column="c_text_nh_code" jdbcType="INTEGER" property="cTextNhCode" />
    <result column="c_text_nh_year" jdbcType="INTEGER" property="cTextNhYear" />
    <result column="c_text_range_code" jdbcType="INTEGER" property="cTextRangeCode" />
    <result column="c_period" jdbcType="CHAR" property="cPeriod" />
    <result column="c_bibl_cat_code" jdbcType="INTEGER" property="cBiblCatCode" />
    <result column="c_extant" jdbcType="INTEGER" property="cExtant" />
    <result column="c_text_country" jdbcType="INTEGER" property="cTextCountry" />
    <result column="c_text_dy" jdbcType="INTEGER" property="cTextDy" />
    <result column="c_pub_country" jdbcType="INTEGER" property="cPubCountry" />
    <result column="c_pub_dy" jdbcType="INTEGER" property="cPubDy" />
    <result column="c_pub_year" jdbcType="CHAR" property="cPubYear" />
    <result column="c_pub_nh_code" jdbcType="INTEGER" property="cPubNhCode" />
    <result column="c_pub_nh_year" jdbcType="INTEGER" property="cPubNhYear" />
    <result column="c_pub_range_code" jdbcType="INTEGER" property="cPubRangeCode" />
    <result column="c_pub_loc" jdbcType="CHAR" property="cPubLoc" />
    <result column="c_publisher" jdbcType="CHAR" property="cPublisher" />
    <result column="c_pub_notes" jdbcType="CHAR" property="cPubNotes" />
    <result column="c_source" jdbcType="INTEGER" property="cSource" />
    <result column="c_pages" jdbcType="CHAR" property="cPages" />
    <result column="c_secondary_source_author" jdbcType="CHAR" property="cSecondarySourceAuthor" />
    <result column="c_url_api" jdbcType="CHAR" property="cUrlApi" />
    <result column="c_url_api_coda" jdbcType="CHAR" property="cUrlApiCoda" />
    <result column="c_url_homepage" jdbcType="CHAR" property="cUrlHomepage" />
    <result column="c_notes" jdbcType="CHAR" property="cNotes" />
    <result column="c_number" jdbcType="CHAR" property="cNumber" />
    <result column="c_counter" jdbcType="CHAR" property="cCounter" />
    <result column="c_title_alt_chn" jdbcType="CHAR" property="cTitleAltChn" />
    <result column="c_created_by" jdbcType="CHAR" property="cCreatedBy" />
    <result column="c_created_date" jdbcType="CHAR" property="cCreatedDate" />
    <result column="c_modified_by" jdbcType="CHAR" property="cModifiedBy" />
    <result column="c_modified_date" jdbcType="CHAR" property="cModifiedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    tts_sysno, c_textid, c_title_chn, c_suffix_version, c_title, c_title_trans, c_text_type_id, 
    c_text_year, c_text_nh_code, c_text_nh_year, c_text_range_code, c_period, c_bibl_cat_code, 
    c_extant, c_text_country, c_text_dy, c_pub_country, c_pub_dy, c_pub_year, c_pub_nh_code, 
    c_pub_nh_year, c_pub_range_code, c_pub_loc, c_publisher, c_pub_notes, c_source, c_pages, 
    c_secondary_source_author, c_url_api, c_url_api_coda, c_url_homepage, c_notes, c_number, 
    c_counter, c_title_alt_chn, c_created_by, c_created_date, c_modified_by, c_modified_date
  </sql>
</mapper>